@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutAuth";
}


<div class="login-box">

    <div class="login-logo">
        <b>JobLancer</b> System
    </div>

    <div class="card">

        <div class="card-body login-card-body">

            <p class="login-box-msg">Sign in to start your session</p>

            <form asp-action="Login" method="post">
                <input asp-for="Path" type="hidden" class="form-control" placeholder="Path" value="@(ViewData["Path"])">

                <div class="input-group mb-3">
                    <input asp-for="Email" class="form-control" placeholder="Email" type="email" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="fas fa-envelope"></i>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="bi bi-lock"></i>
                        </div>
                    </div>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>

                @if (ViewBag.Error != null)
                {
                    <div class="text-danger mb-2">
                        @ViewBag.Error
                    </div>
                }

                <button type="submit" class="btn btn-primary btn-block">
                    Login
                </button>

                <div class="mt-3 text-center">
                    <a asp-action="Register" class="text-primary">
                        Create new account
                    </a>
                </div>

            </form>

        </div>

    </div>

</div>
