@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<li class="tl-nav-item">
    <a asp-controller="Admin" asp-action="Dashboard" class="tl-nav-link">
        <i class="nav-icon fas fa-chart-line"></i>
        Dashboard
    </a>
</li>

<li class="tl-nav-item">
    <a asp-controller="Jobs" asp-action="Index" class="tl-nav-link">
        <i class="nav-icon fas fa-jobs"></i>
        Jobs
    </a>
</li>

<li class="tl-nav-item">
    <a asp-controller="Skills" asp-action="Index" class="tl-nav-link">
        <i class="nav-icon fas fa-jobs"></i>
        Skills
    </a>
</li>

<li class="tl-nav-item">
    <a asp-controller="Users" asp-action="Index" class="tl-nav-link">
        <i class="nav-icon fas fa-users"></i>
        Users
    </a>
</li>

<li class="tl-nav-item">
    <a asp-controller="Payments" asp-action="Index" class="tl-nav-link">
        <i class="nav-icon fas fa-map-marker-alt"></i>
        Payments
    </a>
</li>

