<li class="nav-item">
    <a class="nav-link text-white fw-bold" href="/employer/applications">
        <i class="bi bi-file-earmark-person me-1"></i> Duyệt đơn ứng tuyển
    </a>
</li>
@await Html.PartialAsync("Nav/_Nav",
new List<NavViewModel>
{
    new()
    {
        Controller = "Employer",
        Action = "Dashboard",
        Title = "Bảng điều khiển",
        Icon = "fa-home"
    },

    new()
    {
        Title = "Công việc",
        Icon = "fa-briefcase",
        Children = new()
        {
            new()
            {
                Controller = "Employer",
                Action = "CreateJob",
                Title = "Đăng việc mới"
            },
            new()
            {
                Controller = "Employer",
                Action = "MyJobs",
                Title = "Việc đã đăng"
            },
            new()
            {
                Controller = "Employer",
                Action = "Applications",
                Title = "Đơn ứng tuyển"
            }
        }
    },

    new()
    {
        Controller = "Employer",
        Action = "PersonalInfo",
        Title = "Hồ sơ công ty",
        Icon = "fa-building"
    }
})
